.page-content{
    padding: 100px;

    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-auto-rows: 150px;
    gap: 20px;
}

.memory-card {
    height: 100%;
    width: 100%;
    background-color: purple;

    justify-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
}