.page-content{
    padding: 100px;

    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-auto-rows: 1fr;
    gap: 20px;
}

.memory-card {
    height: 150px;
    width: 200px;
    background-color: purple;

    justify-self: center;
}